<!doctype html>
<html>
<head>
    <title>New box</title>
</head>
<body>
    <h1>Créer une box</h1>
    <form action="." method="post">
        <input type="text" name="id" placeholder="ID de la box">
        <input type="text" name="name" placeholder="Nom de la box">
        <input type="text" name="description" placeholder="Description de la box">
        <input type="text" name="price" placeholder="Prix de la box">
        <input type="submit" value="Créer la box">
    </form>
</body>
</html>