{% extends "gift.skeleton.twig" %}

{% block title %}Paiement du coffret{% endblock %}

{% block giftmain %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center mb-4">Paiement du coffret</h1>
                <hr>

                <form method="POST" action="{{ paiementRoute }}" class="my-4">

                    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ token }}">

                    <div class="form-group mb-2">
                        <label for="cardNumber">Numéro de carte</label>
                        <input type="text" class="form-control" id="cardNumber" placeholder="1234 5678 9012 3456"
                               maxlength="19" minlength="19" required>
                    </div>

                    <div class="form-group mb-2">
                        <label>Date d'expiration</label>
                        <input type="date" class="form-control" id="expiryDate" required>
                    </div>

                    <div class="form-group mb-2">
                        <label for="cvv">CVV</label>
                        <input type="text" class="form-control" id="cvv" placeholder="123" maxlength="3" minlength="3" required>
                    </div>

                    <div class="form-group mt-4">
                        <label for="cardholderName">Nom du titulaire de la carte</label>
                        <input type="text" class="form-control" id="cardholderName" placeholder="John Doe" minlength="2" required>
                    </div>

                    <div class="d-flex align-items-center justify-content-between flex-wrap mt-4">
                        <a href="{{ url_for('box', {'box_id': box_id}) }}" class="btn btn-danger">Annuler</a>
                        <button type="submit" class="btn btn-primary"><i class="bi bi-credit-card"></i> Payer</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var cardNumberInput = document.getElementById('cardNumber');

            cardNumberInput.addEventListener('input', function (e) {
                var inputValue = e.target.value.replace(/\s/g, ''); // Supprime les espaces existants
                var formattedValue = formatCardNumber(inputValue); // Formate le numéro de carte avec des espaces

                e.target.value = formattedValue;
            });

            function formatCardNumber(value) {
                var formattedValue = '';
                for (var i = 0; i < value.length; i++) {
                    if (i > 0 && i % 4 === 0) {
                        formattedValue += ' ';
                    }
                    formattedValue += value.charAt(i);
                }
                return formattedValue;
            }
        });
    </script>

{% endblock %}
