{% extends "gift.skeleton.twig" %}

{% block title %}Création d'une box{% endblock %}

{% block giftmain %}
    <h1>Box créée</h1>
    <li>ID de la box : {{ data.id }}</li>
    <li>Nom de la box : {{ data.name }}</li>
    <li>Description de la box : {{ data.description }}</li>
    <li>Prix de la box : {{ data.price }}</li>
{% endblock %}