{% extends "gift.skeleton.twig" %}

{% block title %}Merci de votre achat{% endblock %}

{% block giftmain %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Merci pour votre achat</h1>
            </div>
        </div>
    </div>

{% endblock %}
