{% extends "gift.skeleton.twig" %}

{% block title %}Merci de votre achat{% endblock %}

{% block giftmain %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h1>Merci pour votre achat !</h1>
                    <a href="{{ url_for('boxesList') }}" class="btn btn-secondary">Retourner à mes coffrets</a>
            </div>
        </div>
    </div>

{% endblock %}
